html,body{
    background-color: skyblue;
    padding:0;
}
.nav{
    height: 70px;
    background-color: rgb(0, 65, 131);
    width: 100%;
    margin-top: -15px;
    border-radius: 25px;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fade-text {
  animation: fadeWords 6s infinite;
}
@keyframes fadeWords {
    0%   { opacity: 1; }
    25%  { opacity: 0.05; }
    50%  { opacity: 1; }
    75%  { opacity: 0.05; }
    100%  { opacity: 1; }
}