html,body{
    padding:0;
    background: linear-gradient(90deg,rgb(40, 0, 0) 0%, rgb(0, 40, 0) 100%);
}
.nav{
    height: 70px;
    width: 100%;
    margin-top: -15px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}
.nav:hover{
    border-bottom: 1px solid white ;
    border-left: 1px solid white ;
    border-right: 1px solid white;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.out{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.grid{
    width: 90%;
    height: 100%;
    margin-top: 30px;
    border-radius: 20px;
    margin-left:5px;
    transition: 0.1s ease-in-out;
    background-color: rgb(255, 0, 0);
}
.grid:hover{
    border-left:5px solid white;
    border-bottom: 10px solid white;
    transform: rotateZ(-5deg);
}
.grid2{
    width: 90%;
    height: 100%;
    margin-top: 30px;
    border-radius: 20px;
    margin-left:5px;
    transition: 0.1s ease-in-out;
    background-color: rgb(0, 255, 0);
}
.grid2:hover{
    border-right:5px solid white;
    border-bottom: 10px solid white;
    transform: rotateZ(5deg);
}
.rotate{
    transition: ease-in-out 1s;
}
.rotate:hover{
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
.text{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
    padding-left: 5px;
    padding-right: 5px
}
.logo{
    display: flex;
    transition: 0.5s ease-in-out;
}
.logo:hover img{
    transform: rotateZ(-5deg);
}
.logo img.cool{
    transform: scale(1.1) ;
    animation: move 2s;
    transition: ease-in-out;
}
@keyframes move {
    25% {transform: translate(0,-46px);}
    75%{transform: translate(0,46px);}
    100% {transform: translate(0,0px);;}
}
@media  screen and (max-width:700px){
    .grid{
        border:5px solid white;
    }
    .grid2{
        border: 5px solid white;
    }
}