html,body{
    background-color: skyblue;
    padding:0;
}
.nav{
    height: 70px;
    background-color: rgb(0, 65, 131);
    width: 100%;
    margin-top: -15px;
    border-radius: 20px;
}
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.out{
    display: grid;
}
.grid{
    width: 40%;
    height: 100%;
    margin-top: 30px;
    border-radius: 20px;
    margin-left:5px;
    transition: 0.1s ease-in-out
}
.grid:hover{
    border-left:5px solid white;
    border-bottom: 10px solid white;
}
